// Spinning Icons
// --------------------------


@keyframes haloIcon-spin {
  0% {
    transform: rotate(0deg);
    //font-size: 16px;
  }
  100% {
    transform: rotate(359deg);
    //font-size: 32px;
  }
}
.haloIcon-spin {
  display: inline-block;
  animation: haloIcon-spin 2s infinite linear;
}
.haloIcon-pulse {
  display: inline-block;
  animation: haloIcon-spin 1s infinite steps(8);
}
